{
    "presets": [
      [
        "@babel/preset-env",
        {
          "exclude": ["transform-async-to-generator", "transform-regenerator"]
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-export-namespace-from"
      // ["module:fast-async", { "spec": true }]
    ]
  }