// Colors
$color-main: #064d57;
$color-black: #333537;
$color-black-light: #707070;
$color-green-light: #d0eade;
$color-blue: #3767d6;
$color-info: #1781e0;
$color-orange: #ff8b17;
$color-navy-blue: #024269;
$color-pink: #bc70ff;
$color-body: #f3f0f0;
$color-pink-dark: #a9298b;
$color-gray: #c4c4c4;
$color-gray-light: #ddd;
$color-gray-dark: #f9f9f9;
$color-gray-darker: #7f7f7f;
$color-white: #fff;
$color-black: #000;
$color-green: #43883d;
$color-red: #e41c3c;

$transition-ease: all 0.2s ease;

$box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 0 15px rgba(183, 209, 84, 0.3);
$box-shadow-card: 0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-button: 0 5px 20px rgba(0, 0, 0, 0.1);

$h-100: calc(100vh - 77px);

// Typography
$Regular: 'Roboto Condensed Regular';
$Bold: 'Roboto Condensed Bold';
$Light: 'Roboto Condensed Light';
